<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" th:replace="~{layouts/default :: layout(~{::title}, ~{::main})}">
<head>
    <title>Dashboard - WPD2</title>
</head>
<body>
    <main>
        <div class="row">
            <div class="col">
                <h2>Hello <span th:text="${currentUser.getFirstName()}"></span></h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="card" th:each="project: ${userProjects}">
                    <div class="card-body">
                        <h5 class="card-title" th:text="${project.getName()}"></h5>
                        <h6 class="card-subtitle mb-2 text-muted" th:text="${project.getEndDate().getTime().toLocaleString()}"></h6>
                        <p class="card-text" th:text="${project.getDescription()}"></p>
                        <a href="#" class="card-link">View More</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>